@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf");
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf");
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  font-weight: bold;
  font-style: italic, oblique;
}

body {
  background-color: #dbe2ef;
  font-family: "Computer Modern Serif", serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #112d4e;
  border-width: 3px;
  width: 70%;
}

#presentationHeader {
  background-color: #3f72af;
}
