@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf");
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf");
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  font-weight: bold;
  font-style: italic, oblique;
}

body {
  background-color: #dbe2ef;
  font-family: "Computer Modern Serif", serif;
  margin: 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #112d4e;
  border-width: 3px;
  width: 70%;
}

#presentationSection {
  background-color: #3f72af;
  margin: 0;
  text-align: center;
}

#salutation {
  margin: auto;
  margin-bottom: 70px;
  padding-top: 100px;
  font-size: 64px;
  width: 25%;
}

#name {
  color: azure;
}

#introDescription {
  margin-top: 100px;
  font-size: 50px;
}
